
.eventsPage {
  font-family: sans-serif;
  background-color: var(--bg-main);
}

.hero {
    margin-top: 0px;
  position: relative;
  width: 100%;
  height: 16rem; /* 64 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.heroOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay */
}

.heroTitle {
  position: relative;
  color: var(--accent-primary);
  font-size: 60px;
  font-weight: bold;
  z-index: 10;
}

@media (min-width: 768px) {
  .hero {
    height: 24rem; /* 96 */
  }
  .heroTitle {
    font-size: 3rem;
  }
}

.eventsContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem; /* py-10 px-4 */
}

.eventsHeading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--text-main);
}

.noEvents {
  color:var(--text-muted);
}
.heroContent {
  position: relative;
  z-index: 10;
  text-align: center;

}

.heroSubtitle {
    color: var(--accent-green);
  margin-top: 0.1rem;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.searchInput {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--border-soft);
  width: 200px;
  font-size: 0.95rem;
}

.filterBar {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.select {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--border-soft);
  background-color: var(--card-bg);
  cursor: pointer;
  font-size: 0.95rem;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}