:root {
  --bg-main: #fdfcf8;
  --bg-soft: #f2f0ef;
  --bg-section: #ffedd5;
  --card-bg: #ffffff;

  --text-main: #3c2517;
  --text-muted: #6b584d;

  --accent-primary: #f9ad3f;
  --accent-secondary: #f47457;
  --accent-teal: #79bfbf;
  --accent-green: #a3bf8f;

  --border-soft: #f0e4d8;
  --shadow-soft: 0 4px 14px rgba(60, 37, 23, 0.08);

  --hover-link: #f47457;
  --hover-button: #e88e2d;
}